<nav class="flex-container" id="navigation">
    <img src="/assets/navlogo.svg" alt="logo" />

    <button type="button" id="hamburger">
        <div id="ham"></div>
    </button>

    <nav class="flex-container" id="inner-nav">
        <ul class="flex-container">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/crucible">The Crucible</a></li>
            <li><a href="/consortium">The Consortium</a></li>
        </ul>
        <ul class="flex-container">
            <li>
                <button>login</button>
            </li>
            <li>
                <a href="/sponsor">Sponsors</a>
            </li>
        </ul>
    </nav>
</nav>