---
title: "home"
layout: base.njk
---


<main class="flex-container index-wrapper">
	<header class="flex-container">
		<h1>meet the <span>smartans</span></h1>
		<p>smartans are young smart africans who are passionate about changing the african narrative and positioning themselves for global impact</p>
		<section class="image-carousel">
			<div class="img-container">
				<img src="./assets/solomon.jpg" alt="solomon" class="image" id="solomon">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/angel.jpg" alt="angel" class="image" id="angel">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/david.jpg" alt="david" class="image" id="david">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/solomon.jpg" alt="solomon" class="image" id="solomon">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/angel.jpg" alt="angel" class="image" id="angel">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/david.jpg" alt="david" class="image" id="david">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/solomon.jpg" alt="solomon" class="image" id="solomon">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/angel.jpg" alt="angel" class="image" id="angel">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
			<div class="img-container">
				<img src="./assets/david.jpg" alt="david" class="image" id="david">
				{%- from "components/borderbtn/macro.njk" import borderbtn -%}
				
				{{borderbtn ({text: 'learn more', class: 'btn-bordered', type: 'button'}) }}
			</div>
		</section>
		</div>
	</header>
	<main class="content flex-container">

		<section class="" id="section-one">

			<div class="img-container">
				<img src="/assets/passionate.png" alt="section two image">

				<div id='box'></div>
			</div>

			<article class="flex-container">
				<h2>When young people are passionate about change.</h2>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus fugiat esse aspernatur perferendis veritatis eius commodi blanditiis reiciendis aliquid ad!</p>
				{%- from "components/button/macro.njk" import button -%}
				
				{{button ({text: 'learn more'}) }}
			</article>
		</section>

		<section class="signals">
			<h2>Smartan <span>Signals</span></h2>
			<p>The Smartan signals are the intrinsic  attributes that distinguishes a smartan  from the crowd and makes them fit for any role.</p>
			<section class='signal-grid'>
				<div class="sg-item sg-item11">
					<img src="/assets/adorable.svg" alt="adorable">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="14" viewBox="0 0 77 14" fill="none">
  <path d="M38.7839 13.8014C59.8038 13.8014 76.8439 10.7381 76.8439 6.95922C76.8439 3.18036 59.8038 0.116943 38.7839 0.116943C17.7639 0.116943 0.723877 3.18036 0.723877 6.95922C0.723877 10.7381 17.7639 13.8014 38.7839 13.8014Z" fill="black" fill-opacity="0.15"/>
</svg>
					<h3>adorable</h3>
				</div>
				<div class="sg-item sg-item21">
					<img src="/assets/creative.svg" alt="creative">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="14" viewBox="0 0 77 14" fill="none">
  <path d="M38.7839 13.8014C59.8038 13.8014 76.8439 10.7381 76.8439 6.95922C76.8439 3.18036 59.8038 0.116943 38.7839 0.116943C17.7639 0.116943 0.723877 3.18036 0.723877 6.95922C0.723877 10.7381 17.7639 13.8014 38.7839 13.8014Z" fill="black" fill-opacity="0.15"/>
</svg>
					<h3>creative</h3>
				</div>
				<div class="sg-item sg-item31">
					<img src="/assets/deepwork.svg" alt="deep work">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="14" viewBox="0 0 77 14" fill="none">
  <path d="M38.7839 13.8014C59.8038 13.8014 76.8439 10.7381 76.8439 6.95922C76.8439 3.18036 59.8038 0.116943 38.7839 0.116943C17.7639 0.116943 0.723877 3.18036 0.723877 6.95922C0.723877 10.7381 17.7639 13.8014 38.7839 13.8014Z" fill="black" fill-opacity="0.15"/>
</svg>
					<h3>Deep work</h3>
				</div>
				<div class="sg-item sg-item41">
					<img src="/assets/spiritual.svg" alt="spiritually intense">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="14" viewBox="0 0 77 14" fill="none">
  <path d="M38.7839 13.8014C59.8038 13.8014 76.8439 10.7381 76.8439 6.95922C76.8439 3.18036 59.8038 0.116943 38.7839 0.116943C17.7639 0.116943 0.723877 3.18036 0.723877 6.95922C0.723877 10.7381 17.7639 13.8014 38.7839 13.8014Z" fill="black" fill-opacity="0.15"/>
</svg>
					<h3>Spiritually intense</h3>
				</div>
				<div class="sg-item sg-item51">
					<img src="/assets/rhythm.svg" alt="unforced rhythm">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="14" viewBox="0 0 77 14" fill="none">
  <path d="M38.7839 13.8014C59.8038 13.8014 76.8439 10.7381 76.8439 6.95922C76.8439 3.18036 59.8038 0.116943 38.7839 0.116943C17.7639 0.116943 0.723877 3.18036 0.723877 6.95922C0.723877 10.7381 17.7639 13.8014 38.7839 13.8014Z" fill="black" fill-opacity="0.15"/>
</svg>
					<h3>Unforce Rhythm</h3>
				</div>
				<div class="sg-item sg-item61">
					<img src="/assets/youthful.svg" alt="youthful and trendy">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="14" viewBox="0 0 77 14" fill="none">
  <path d="M38.7839 13.8014C59.8038 13.8014 76.8439 10.7381 76.8439 6.95922C76.8439 3.18036 59.8038 0.116943 38.7839 0.116943C17.7639 0.116943 0.723877 3.18036 0.723877 6.95922C0.723877 10.7381 17.7639 13.8014 38.7839 13.8014Z" fill="black" fill-opacity="0.15"/>
</svg>
					<h3>Youthful and Trendy</h3>
				</div>
			</section>
		</section>

		
		<section class="story wrapper flex-container" id="section-four" >
			<h2>smartan <span>story</span></h2>
			{% include "story-grid.njk" %}
		</section>

		<section class="projects" id="section-three">
			<h2>Projects</h2>
		<div class="project-card-grid">
			<div class="project-card">
				<img src="/assets/globalchat.png" alt="global chat">
				<h3>Global Chat With African Smartans</h3>

				{%- from "components/button/macro.njk" import button -%}
				
				{{button ({text: 'learn more', secondary: "btn-secondary" }) }}
			</div>
			<div class="project-card">
				<img src="/assets/stateofthefuture.png" alt="state of the future">
				<h3>State of the future</h3>

				{%- from "components/button/macro.njk" import button -%}
				
				{{button ({text: 'learn more', secondary: "btn-secondary"}) }}
			</div>
			</div>
		</section>
		
		<section class="becoming-a-smartan" id="section-three">
			<h2>becoming a <span>smartan</span></h2>
			<section class="sec4-content">
				<article>
					<h3><span>the</span> crucible</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eum nesciunt maiores quos rem! Tempore, optio. Blanditiis beatae quasi amet?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eum nesciunt maiores quos rem! Tempore, optio. Blanditiis beatae quasi amet?</p>
						{%- from "components/button/macro.njk" import button -%}
					
						{{button ({text: "learn more"}) }}
				</article>
				<div class="sec4-img">
					<img src="/assets/mia.png" width="300">
					<div class="mia-bg"></div>
				</div>
			</section>
		</section>
	</main>
	<section class="the-consortium">
		<article>
			<h3>the consortium</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis doloremque quo dignissimos dolore quidem delectus.</p>
			
			{%- from "components/button/macro.njk" import button -%}
					
			{{button ({text: "learn more"}) }}
		<img src="./assets/consortium.png" alt="">
		</article>
	</section>
</main>