    $green: hsl(160, 68%, 36%);
    $magenta: #ee2b7c;
    $forest: hsl(197, 37%, 24%);
    $brick: hsl(13, 72%, 51%);
    $purple: hsl(302, 58%, 36%);
    $orange: hsl(33, 93%, 54%);
    $tomato: hsl(0, 100%, 50%);
    $beige: hsl(42, 74%, 66%);
    $light-tomato: hsla(42, 74%, 66%, 0.5);
    $family: 'Plus Jakarta Sans', sans-serif;




