@use './vars';



*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: vars.$family;
}



/* utility classes */


.flex-container{
    display: flex;
}


.grid-container{
    display: grid;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

h2{
    font-size: 2.3rem;
    font-weight: 600;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    font-weight: 500;
}

.wrapper{
    width: 100vw; 
    height: auto;
    overflow-x: hidden;
}

.flex-container-mobile{
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
}


/* -----------navigation---------- */
#navigation{
    position: relative;
    justify-content: space-between;
    padding: 5px 10px;
}


#navigation img{
    width: 120px;
}

#hamburger{
    background: none;
    border: none;
    width: 30px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
#hamburger div{
    width: 100%;
    height: 3px;
    position: relative;
    background-color: black;
}


#hamburger div:before{
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
    top: -7px;
    background: black;
}





#inner-nav{
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}


#inner-nav ul{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


.btn-primary{
    width: 180px;
    padding: 15px;
    background-color: vars.$green;
    color: #fff;
    text-transform: capitalize;
    border-radius: 50px;
    border: none;
    font-size: .95rem;
    word-spacing: .5rem;
    font-weight: 700;
}



.secondary{
    width: 80px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 7px;
    color: #fff
}


// --------------footer------------

.footer{
    width: 100%;
    padding: 20px;
    background-color: vars.$gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    div#subscribe-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
        
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            row-gap: 20px;
            label{
                font-size:1.12rem;
            }
            input{
                width: 300px;
                padding: 15px;
                border: solid;
                border-radius: 50px;

            }
        }
    }

    div#address{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    ul#socials{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}